@{
    ViewData["Title"] = "Payment Success";
}




<br />
<br />
<br />
<br />
<br /><br/>
<h2>Payment Successful</h2>


<p>@ViewBag.CourseId</p>

<p>Payment ID: @ViewBag.PaymentId</p>
<p>Order ID: @ViewBag.OrderId</p>
<p>Signature: @ViewBag.Signature</p>
<br />
<br />
<br />
<br />
<br />
<br />