<form>
    <div class="form-group">
        <label>Select Category:</label>
        <select class="form-control" id="DisplayCategory" onchange="GetSubCategoryData()" >
        </select>
    </div>
    <div class="form-group">
        <label>Select Sub-Category:</label>
        <select class="form-control" id="DisplaySubCategory" onchange="GetCourseData()">
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="DisplayCourseDropdown">

        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    
    
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/ajax/js/javascript.js"></script>