@model CourseViewModel

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label >Select Thumbnail </label>
        <input type="file" class="form-control" asp-for="CourseImage" >
    </div>
    <div class="form-group">
        <label >Select Category:</label>
        <select class="form-control" id="DisplayCategory" onchange="GetSubCategoryData()" asp-for="CategoryId"  >
            
        </select>
    </div>
    <div class="form-group">
        <label >Select Sub-Category:</label>
        <select class="form-control" id="DisplaySubCategory" asp-for="SubCategoryId" >
        </select>
    </div>
    <div class="form-group">
        <label>Course Name </label>
        <input type="text" class="form-control" asp-for="CourseName"> 
    </div>
    <div class="form-group">
        <label >Course Description</label>
        <textarea class="form-control"  rows="3" asp-for="CourseDescription"></textarea>
    </div>
    <div class="form-group">
        <label>Course Faculty Name </label>
        <input type="text" class="form-control" asp-for="CourseTeacherName">
    </div>
    <div class="form-group">
        <label>Course Price </label>
        <input type="text" class="form-control" asp-for="CoursePrice">
    </div>
    <div class="form-group">
        <label>Student Count </label>
        <input type="text" class="form-control" asp-for="StudentCount">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
   
</form>





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/ajax/js/JavaScript.js"></script>