@{
    
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "Page Title";

}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Hellow world

</h1>