@model SubCategory

<button type="button" class="btn btn-primary" id="AddSubCategory">
    Add Sub-Category
</button>

<div class="modal fade" id="SubCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Sub-Category</h5>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <select id="DropdownData" class="form-control" asp-for="">
                        <option value="">Select Category</option> 
                    </select>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Sub Category</label>
                        <input type="text" class="form-control" placeholder="Enter Sub-Categories">
                    </div>
                    <br />

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="CloseSubCategory">Close</button>

            </div>
        </div>
    </div>
</div>





<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/ajax/js/javascript.js"></script>